/* 
 #p1css is the selector, 
 color: orange is the declaration, 
 color is the property, 
 orange is the value 
 */
 
#p1css { /* ID selector */
    color: orange;
}

#p2css h1, h3 { /* Descendant selectors */   
    color: hsl(0,100%,50%); /* hsl: color, saturation, lightness  | Test: https://www.hslpicker.com/ */
}

#p3css > h1 { /* Child selectors */
    color: rgb(255,0,0);
    font-style: oblique;
    font-family:"Courier Nex", monospace;
    font-size: 26px;
    text-transform: uppercase;
    text-decoration: line-through blue;
}

.test { /* Class selectors */
    margin: 10px;
    text-align: center;
}

p.test2 { /* Element with class selectors */
    color:red;
    font-style: italic;
}